<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <script src="/components/Chart.min.js" type="text/javascript"></script>
    <link rel='stylesheet' href='/components/jquery-ui/jquery-ui.min.css' />
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <script type="text/javascript" src="/components/jquery/jquery-2.2.3.min.js"></script>
    <script type="text/javascript" src="/components/jquery-ui/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/components/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/javascripts/lib/define.js"></script>
    <script type="text/javascript" src="/javascripts/views/ctrls/knob_view.js"></script>
    <script type="text/javascript" src="/javascripts/controllers/ctrls/knob_controller.js"></script>
    <script type="text/javascript" src="/javascripts/models/ctrls/knob_model.js"></script>
    <script type="text/javascript" src="/javascripts/views/ctrls/key_view.js"></script>
    <script type="text/javascript" src="/javascripts/controllers/ctrls/key_controller.js"></script> <script type="text/javascript" src="/javascripts/models/ctrls/key_model.js"></script>
    <script type="text/javascript" src="/javascripts/views/proto_card_view.js"></script>
    <script type="text/javascript" src="/javascripts/controllers/proto_card_controller.js"></script>
    <script type="text/javascript" src="/javascripts/models/proto_card_model.js"></script>
    <script type="text/javascript" src="/javascripts/models/adsr_card_model.js"></script>
    <script type="text/javascript" src="/javascripts/models/dest_card_model.js"></script>
    <script type="text/javascript" src="/javascripts/models/osc_card_model.js"></script>
    <script type="text/javascript" src="/javascripts/models/filter_card_model.js"></script>
    <script type="text/javascript" src="/javascripts/models/ctrls/midiselector_model.js"></script>
    <script type="text/javascript" src="/javascripts/controllers/ctrls/midiselector_controller.js"></script>
    <script type="text/javascript" src="/javascripts/views/ctrls/midiselector_view.js"></script>
    <script type="text/javascript" src="/javascripts/models/midiin_card_model.js"></script>
    <script type="text/javascript" src="/javascripts/models/key_card_model.js"></script>
    <script type="text/javascript" src="/javascripts/controllers/add_card_controller.js"></script>
    <script type="text/javascript" src="/javascripts/views/add_card_view.js"></script>
    <script type="text/javascript" src="/javascripts/views/init_deck_view.js"></script>
    <script type="text/javascript" src="/javascripts/controllers/init_deck_controller.js"></script>
    <script type="text/javascript" src="/javascripts/views/load_deck_view.js"></script>
    <script type="text/javascript" src="/javascripts/controllers/load_deck_controller.js"></script>
    <script type="text/javascript" src="/patch/default.patch"></script>
    <script type="text/javascript" src="/javascripts/main.js"></script>
    <link rel='stylesheet' href='/components/bootstrap/css/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/style_mobile.css' media='screen and (max-width:480px)' />
    <link rel='stylesheet' href='/stylesheets/style.css' media='screen and (min-width:480px)' />
  </head>
  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container" id="logo">SOUND DECK</div>
    </header>
    <div style="text-align: center; margin-bottom: 10px; margin-top: 10px;">
      <button type="button" class="btn btn-primary" id="initDeck" title="Initialize Deck">
        <i class="fa fa-file-text-o fa-lg"></i>
      </button>
      <button type="button" class="btn btn-primary" id="addCard" title="Add audio card">
        <i class="fa fa-plus-square-o fa-lg"></i>
      </button>
      <button type="button" class="btn btn-primary" id="loadDeck" title="Sorry, not support yet">
        <i class="fa fa-folder-open-o fa-lg"></i>
      </button>
    </div>
    <div class ="jumbotron">
      <div class = "container">
        <div class="row" id="backPanel">
          <div class="col-md-4" id="deck1" droppable="true" >
          </div>
          <div class="col-md-4" id="deck2" droppable="true">
          </div>
          <div class="col-md-4" id="deck3" droppable="true">
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
