<!DOCTYPE html>
<html>
  <head>
    <title>Web Audio Apps</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1 style="color:#000;">Web Audio Apps</h1>
    <p><a href="/websynth" onclick="window.open('/websynth', 'win','width=677,height=603'); return false;">websynth</a>
  </body>
</html>
