<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <script src="/components/platform/platform.js"></script>
    <script src="/components/Chart.min.js" type="text/javascript"></script>
    <link rel="import" href="/components/controls.html">
    <script type="text/javascript" src="/components/polymer.js"></script>
    <link rel='stylesheet' href='/components/jquery-ui/jquery-ui.min.css' />
    <script type="text/javascript" src="/components/jquery/jquery-2.2.3.min.js"></script>
    <script type="text/javascript" src="/components/jquery-ui/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/components/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/javascripts/components/define.js"></script>
    <script type="text/javascript" src="/javascripts/components/knob.js"></script>
    <script type="text/javascript" src="/javascripts/models/knob_model.js"></script>
    <script type="text/javascript" src="/javascripts/models/card_model.js"></script>
    <script type="text/javascript" src="/javascripts/components/card.js"></script>
    <script type="text/javascript" src="/javascripts/components/osc_card.js"></script>
    <script type="text/javascript" src="/javascripts/components/env_card.js"></script>
    <script type="text/javascript" src="/javascripts/components/filter_card.js"></script>
    <script type="text/javascript" src="/javascripts/components/graphic_env_card.js"></script>
    <script type="text/javascript" src="/javascripts/components/keyboard_card.js"></script>
    <script type="text/javascript" src="/javascripts/components/dest_card.js"></script>
    <script type="text/javascript" src="/javascripts/load_dialog.js"></script>
    <script type="text/javascript" src="/javascripts/main.js"></script>
    <link rel='stylesheet' href='/components/bootstrap/css/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container" id="logo">SOUND DECK</div>
    </header>
    <div id="sendto-dialog" class="modal fade" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
	  <div class="modal-body">
            <select class="form-control" id="connectTo">
              <option value='ENV_0'>ENV0</option>
              <option value='DEST_0'>MASTER</option>
              <option value='FILTER_0'>FILTER0</option>
            </select>
          </div>
	  <div class="modal-footer">
	    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	    <button type="submit" class="btn btn-primary">Select</button>
	  </div>
        </div>
      </div>
    </div>
    <div style="text-align: center; margin-bottom: 10px; margin-top: 10px;">
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Add</button>
      <div class="modal fade" id="myModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
	  <div class="modal-content">
	    <div class="modal-header">
	      <h4 class="modal-title" id="modal-label">Add Card</h4>
	    </div>
	    <div class="modal-body">
              <div class="btn-group-vertical" id="cardSelector" data-toggle="buttons">
                <label class="btn btn-primary active">
                  <input type="radio" name="cardSelector" value="sawtooth">Sawtooth Oscillator</input>
                </label>
                <label class="btn btn-primary">
                  <input type="radio" name="cardSelector" value="square">Square Oscillator</input>
                </label>
                <label class="btn btn-primary">
                  <input type="radio" name="cardSelector" value="sine">Sine Oscillator</input>
                </label>
                <label class="btn btn-primary">
                  <input type="radio" name="cardSelector" value="envelope">Envelope Generator</input>
                </label>
                <label class="btn btn-primary">
                  <input type="radio" name="cardSelector" value="lowpass">Lowpas Filter</input>
                </label>
                <label class="btn btn-primary">
                  <input type="radio" value="keyboard">Keyboard</input>
                </label>
              </div>
	    </div>
	    <div class="modal-footer">
	      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	      <button type="submit" class="btn btn-primary">Add</button>
	    </div>
	  </div>
        </div>
      </div>
      <button type="button" class="btn btn-primary">Save</button>
      <button type="button" class="btn btn-primary">Export</button>
    </div>
    <div class ="jumbotron">
      <div class = "container">
        <div class="row">
          <div class="col-md-4" id="deck1">
          </div>
          <div class="col-md-4" id="deck2">
          </div>
          <div class="col-md-4", id="deck3">
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
