doctype html
html
  head
    title #{title}
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/components/jquery-ui/jquery-ui.min.css') 
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.2/css/font-awesome.min.css')
    script(type='text/javascript', src='/components/jquery/jquery-2.2.3.min.js')
    script(type='text/javascript', src='/components/jquery-ui/jquery-ui.min.js')
    script(type='text/javascript', src='/components/bootstrap/js/bootstrap.min.js')
    script(type='text/javascript', src='/javascripts/lib/define.js')
    // VIEW
    script(type='text/javascript', src='/javascripts/views/ctrls/knob_view.js')
    script(type='text/javascript', src='/javascripts/views/ctrls/key_view.js')
    script(type='text/javascript', src='/javascripts/views/ctrls/midiselector_view.js')
    script(type='text/javascript', src='/javascripts/views/proto_card_view.js')
    script(type='text/javascript', src='/javascripts/views/add_card_view.js')
    script(type='text/javascript', src='/javascripts/views/init_deck_view.js')
    // CONTROLLER
    script(type='text/javascript', src='/javascripts/controllers/ctrls/knob_controller.js')
    script(type='text/javascript', src='/javascripts/controllers/ctrls/key_controller.js')
    script(type='text/javascript', src='/javascripts/controllers/ctrls/midiselector_controller.js')
    script(type='text/javascript', src='/javascripts/controllers/proto_card_controller.js')
    script(type='text/javascript', src='/javascripts/controllers/add_card_controller.js')
    script(type='text/javascript', src='/javascripts/controllers/init_deck_controller.js')
    script(type='text/javascript', src='/javascripts/controllers/load_deck_controller.js')
    // MODEL
    script(type='text/javascript', src='/javascripts/models/ctrls/knob_model.js')
    script(type='text/javascript', src='/javascripts/models/ctrls/key_model.js')
    script(type='text/javascript', src='/javascripts/models/ctrls/midiselector_model.js')
    script(type='text/javascript', src='/javascripts/models/proto_card_model.js')
    script(type='text/javascript', src='/javascripts/models/adsr_card_model.js')
    script(type='text/javascript', src='/javascripts/models/dest_card_model.js')
    script(type='text/javascript', src='/javascripts/models/osc_card_model.js')
    script(type='text/javascript', src='/javascripts/models/filter_card_model.js')
    script(type='text/javascript', src='/javascripts/models/midiin_card_model.js')
    script(type='text/javascript', src='/javascripts/models/key_card_model.js')
    script(type='text/javascript', src='/javascripts/models/panner_card_model.js')

    script(type='text/javascript', src='/patch/default.patch')
    script(type='text/javascript', src='/javascripts/main.js')
    
    // STYLESHEET
    link(rel='stylesheet', href='/components/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')

  body(onload='loadDeck(#{preset})')
    header.navbar.navbar-fixed-top.navbar-inverse
      div#logo.container SOUND DECK
    div.btn-menu
      button#initDeck.btn.btn-primary.btn-margin(title='Initialize Deck', type='button', onclick='location.href="/"')
        i.fa.fa-file-text-o.fa-lg
      button#addCard.btn.btn-primary.btn-margin(title='Add audio card', type='button')
        i.fa.fa-plus-square-o.fa-lg
      button#loadDeck.btn.btn-primary.btn-margin(title='Load Preset', type='button', onclick='location.href="/presets"')
        i.fa.fa-folder-open-o.fa-lg
    div.jumbotron
      div.container
        div#backPanel.row 
          block content
