<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <script src="/components/platform/platform.js"></script>
    <script src="/components/Chart.min.js" type="text/javascript"></script>
    <link rel="import" href="/components/controls.html">
    <script type="text/javascript" src="/components/polymer.js"></script>
    <script type="text/javascript" src="/javascripts/websynth.js" defer="defer"></script>
    <link rel='stylesheet' href='/components/bootstrap/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container" id="logo">SOUND DECK</div>
    </header>
    <div class ="jumbotron">
      <div class = "container">
          <div class="row">
            <div class="col-md-4" id="deck1">
            </div>
            <div class="col-md-4" id="deck2">
            </div>
            <div class="col-md-4", id="deck3">
              <div class="card">
                <div class="card-header">
                  FILTER
                </div>
                <div class="card-body">
                  <div class="row">
                    <div id="filterType" class="col-md-6">
                      <ul>
                        <li>
                          <input id="lp" type="radio" name="filterType" checked>
                          <label class="label" for="lp">Low Pass</label> 
                        </li>
                        <li>
                          <input id="hp" type="radio" name="filterType">
                          <label class="label" for="hp">High Pass</label> 
                        </li>
                        <li>
                          <input id="bp" type="radio" name="filterType">
                          <label class="label" for="bp">Band Pass</label> 
                        </li>
                      </ul>
                    </div>
                    <div class="col-md-6">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </body>
</html>
