body {
  padding-top: 60px;
  font-family: Impact;
  font-size: 16px;
}

section {
  overflow :auto;
}

textares {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* header */
#logo {
  text-align: center;
  float: none;
  font-size: 2em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 4px;
  font-weight: bold;
} 

#background-panel {
  background-color: #fff;
  padding: 3px;
}

ul {
  list-style: none;
  padding-left: 10px;
}

.card {
  background-color: #fff;
  border-radius: 2px;
  -webkit-box-shadow: 0 4px 12px rgba(0,0,0,0.5);
  box-shadow: 0 4px 12px rgba(0,0,0,0.5);
  overflow: hidden;
  margin-bottom: 5px;
}

.card:before {
  content: '';
  position: absolute;
  background: inherit;
  -webkit-filter: blur(10px) saturate(2);
}

.card .card-header {
  font-size: 1em;
  border-left: 10px solid #ccc;
  font-weight: bold;
  padding: 2px;
  padding-left: 10px;
}

.card .card-body {
  padding: 1px;
  margin-top: 10px;
  margin-left: 20px;
}

.col-extend {
  padding: 0px;
  width: inherit;
  text-align: center;
}

.row-extend {
  margin-right: 10px
}

.knob-large {
  width: 128;
  height: 70;
}

.knob-mid {
  width: 48;
  height: 80;
}


.dragenter {
  padding-top: 120px;
  margin-bottom: 3px;
  border: 1px dashed #555;
  border-radius: 10px;
}

.btn-extend {
  float: right;
  margin: 3px;
  border: 1px solid #aaaaaa;
  margin-left: 10px;
}

.close-btn {
  border: 1px solid #FA8072;
  background-color: #FA8072;
}

.dropdown-extend {
  overflow: visible;
  float: right;
}

.btn-sendto-select {
  margin: 2px;
}

.body-sendto {
  transition: all 1.5s ease;
}


.midiselector {
  margin-bottom: 5px;
}

.add-card-view a {
  display: block;
  float: left;
  margin: 0 5px 5px 0;
  color: #fff;
}

.add-card-view i {
  width: 100px;
  height: 100px;
  margin: 0;
  line-height: 100px;
  text-align: center;
  background: #00a1e9;
}

.add-card-view a:hover i {
  -webkit-box-shadow: 0 4px 12px rgba(0,0,0,0.5);
  box-shadow: 0 4px 12px rgba(0,0,0,0.5);
  transition-duration: 0.3s;
}

.add-card-view i:before {
  padding: 0px;
  line-height: 50px; 
}

.sendto-selector-view a {
  display: block;
  float: left;
  margin: 0 5px 5px 0;
  color: #fff;
}

.sendto-selector-view i {
  width: 70px;
  height: 70px;
  margin: 0;
  line-height: 70px;
  text-align: center;
  background: #1b81e9;
}

.sendto-selector-view .active {
  background: #987638;
}

.sendto-selector-view a:hover i {
  -webkit-box-shadow: 0 4px 12px rgba(0,0,0,0.5);
  box-shadow: 0 4px 12px rgba(0,0,0,0.5);
  transition-duration: 0.3s;
  background: #987638;
}

.sendto-selector-view i:before {
  padding: 0px;
  line-height: 70px; 
}
